<ln-api-response [apiResponse]="integration$()" errorMessage="Error loading integration" loadingMessage="Loading integration...">
  <ng-template #success let-integrationAny>
    @let integration = asIntegration(integrationAny);

    <p-panel header="Manage {{ integration.integration.friendlyName }} Integration" class="max-w-prose">
      <form [formGroup]="form" (ngSubmit)="updateIntegration()">
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-1">
            <label for="friendlyName">Friendly Name</label>
            <input id="friendlyName" type="text" pInputText formControlName="friendlyName" />
          </div>

          <div class="flex flex-col gap-1">
            <label for="credentials">Credentials</label>
            <small class="text-gray-500">Only change this field if you are changing your credentials.</small>
            <textarea id="credentials" pInputTextarea formControlName="credentials" rows="5"></textarea>
          </div>

          <div class="flex items-center gap-2">
            <p-checkbox id="shareWithClient" formControlName="shareWithClient" binary="true"></p-checkbox>
            <label for="shareWithClient">Share with Client</label>
          </div>

          <p-button type="submit" label="Update" severity="success" [disabled]="form.invalid || form.pristine" />
        </div>
      </form>
    </p-panel>
  </ng-template>
</ln-api-response>
