<ln-branded-card>
  <span title>External Login Options</span>
  <span subtitle>Supported 3rd party options</span>

  <ln-api-response [apiResponse]="externalLogins()">
    <ng-template #success let-supportedExternalLoginsAny>
      @let supportedExternalLogins = toSupportedExternalLogins(supportedExternalLoginsAny);

      @if (supportedExternalLogins.length > 0) {
        <div class="flex flex-col gap-2">
          @for (externalLogin of supportedExternalLogins; track externalLogin.providerName) {
            <a [href]="externalLogin.loginUrl" pButton class="w-full">
              <span> Log in with your {{ externalLogin.displayName }} account </span>
            </a>
          }
        </div>
      } @else {
        <p>No external login providers are currently configured.</p>
      }
    </ng-template>
  </ln-api-response>
</ln-branded-card>
