<ln-api-response [apiResponse]="claims$" errorMessage="Error loading user claims" loadingMessage="Loading user claims...">
  <ng-template #success let-userResultsAny>
    @let userResults = asUserResults(userResultsAny);

    <p-table
      [value]="userResults.data"
      [paginator]="true"
      [rows]="pageSize()"
      [totalRecords]="userResults.totalCount"
      [lazy]="true"
      (onLazyLoad)="loadClaimsLazy($event)"
    >
      <ng-template #header>
        <tr>
          <th><span class="pi pi-trash"></span></th>
          <th width="100%">User</th>
        </tr>
      </ng-template>
      <ng-template #body let-userAny>
        @let user = asUser(userAny);

        <tr>
          <td>
            <p-button icon="pi pi-trash" [text]="true" severity="danger" (onClick)="removeUser(user.id)" pTooltip="Remove claim from user" />
          </td>
          <td>
            <ln-user-link [userId]="user.id" />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="100%">
            <span>No users have this claim.</span>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ln-error-list [errors]="errors()" />

    <div class="mb-4">
      <label>Add User</label>
      <form [formGroup]="addUserForm" (ngSubmit)="addUser()" class="flex gap-2">
        <people-picker formControlName="userId" class="flex-1" />
        <p-button type="submit" label="Add User" icon="pi pi-plus" [disabled]="!addUserForm.valid" />
      </form>
    </div>
  </ng-template>
</ln-api-response>
