<ln-api-response [apiResponse]="roles$" errorMessage="Error loading roles" loadingMessage="Loading roles...">
  <ng-template #success let-rolesAny>
    @let roles = asRoles(rolesAny);

    <p-panel header="Manage Roles">
      <p-table [value]="roles">
        <ng-template #header>
          <tr>
            <th data-cy="role-header">Role</th>
            <th data-cy="name-header">Name</th>
            <th data-cy="description-header">Description</th>
          </tr>
        </ng-template>
        <ng-template #body let-roleAny>
          @let role = asRole(roleAny);

          <tr>
            <td>
              <a [routerLink]="'admin-role' | route: role.name"> {{ role.displayName }}</a>
            </td>
            <td>{{ role.displayName }}</td>
            <td>
              {{ role.description }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">There are no roles.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </ng-template>
</ln-api-response>
