<router-outlet />

<p-toast position="top-right" key="global">
  <ng-template let-message #message>
    @if (message.data?.clickHandler) {
      <div class="w-full flex flex-col font-medium text-lg my-4 cursor-pointer" (click)="message.data.clickHandler()">
        <span>{{ message.summary }}</span>
        <span>{{ message.detail }}</span>
      </div>
    } @else {
      <div class="w-full flex flex-col font-medium text-lg my-4">
        <span>{{ message.summary }}</span>
        <span>{{ message.detail }}</span>
      </div>
    }
  </ng-template>
</p-toast>

@if (showBlockUi()) {
  <p-blockUI [blocked]="showBlockUi()">
    <div class="text-white flex justify-center items-center gap-1 w-full">
      <i class="{{ blockUiIconClass() }}"></i>
      <span>{{ blockUiMessage() }}</span>
    </div>
  </p-blockUI>
}
