<p-confirmpopup #confirmPopup [key]="key()">
  <ng-template #headless let-message>
    <div class="rounded-border p-4">
      <p class="max-w-prose">{{ message.message }}</p>
      <div class="flex justify-end gap-2 mt-4">
        <p-button [icon]="confirmIcon()" [label]="confirmText()" [severity]="confirmSeverity()" (onClick)="confirmPopup.onAccept()" size="small" />
        <p-button [icon]="rejectIcon()" [label]="rejectText()" [severity]="rejectSeverity()" (onClick)="confirmPopup.onReject()" size="small" />
      </div>
    </div>
  </ng-template>
</p-confirmpopup>
