<ln-branded-card>
  <span title>Register To Link Account</span>
  <span subtitle>Just a few last things...</span>

  <form [formGroup]="form" (ngSubmit)="register()" autocomplete="off">
    <div>
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="userName" class="text-xl">User Name</label>
          <input id="userName" data-cy="register-username" type="text" placeholder="User Name" pInputText formControlName="userName" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="email" class="text-xl">Email</label>
          <input id="email" data-cy="register-email" type="text" placeholder="Email address" pInputText formControlName="email" />
        </div>

        <div class="flex items-center justify-between">
          <div class="flex gap-2">
            <p-checkbox data-cy="register-remember-me" inputId="rememberMe" formControlName="rememberMe" [binary]="true" />
            <label for="rememberMe">Remember Me</label>
          </div>
          <a [routerLink]="'reset-password' | route">Forgot password?</a>
        </div>

        <div class="flex items-center gap-1">
          <p-checkbox data-cy="register-agreed-to-terms" inputId="agreedToTerms" formControlName="agreedToTerms" class="mr-2" [binary]="true" />
          <label for="agreedToTerms">I agree to the</label>
          <a [routerLink]="'view-content' | route: 'terms-and-conditions'" target="_blank">Terms and Conditions</a>
          <span>and</span>
          <a [routerLink]="'view-content' | route: 'privacy-policy'" target="_blank">Privacy Policy</a>
        </div>

        <ln-error-list data-cy="register-errors" [errors]="errors()" />
      </div>

      <p-button data-cy="register-submit" type="submit" label="Register" styleClass="w-full text-xl mt-2" [disabled]="!form.valid" pRipple />
    </div>
  </form>
</ln-branded-card>
