@if (internalApiResponse$() | async; as response) {
  @if (response.type === "Success") {
    @if (response.result == null && (nullTemplateRef() || nullMessage())) {
      @if (nullTemplateRef()) {
        <ng-container *ngTemplateOutlet="nullTemplateRef()!" />
      } @else {
        <p>{{ nullMessage() }}</p>
      }
    } @else {
      <ng-container *ngTemplateOutlet="successTemplateRef()!; context: { $implicit: response.result }" />
    }
  } @else {
    <ng-container *ngTemplateOutlet="errorTemplateRef() || defaultErrorTemplate; context: { $implicit: response }" />
  }
} @else {
  <ng-container *ngTemplateOutlet="loadingTemplateRef() || defaultLoadingTemplate" />
}

<ng-template #defaultErrorTemplate let-response>
  <p>{{ errorMessage() }}</p>
  <ln-error-list [apiResponse]="response" />
</ng-template>

<ng-template #defaultLoadingTemplate>
  <div class="w-full h-full flex flex-col items-center">
    <p-progressSpinner ariaLabel="loading" />
    <p>{{ loadingMessage() }}</p>
  </div>
</ng-template>
