<ln-branded-card>
  <span title>Access Denied</span>
  <span subtitle>You do not have the necessary permissions. Please contact an administrator.</span>

  <div class="flex flex-col items-center">
    <img src="assets/images/access/asset-access.svg" alt="Access denied" class="mb-8" width="80%" />
    <button pButton pRipple icon="pi pi-arrow-left" label="Go Home" class="p-button-text" [routerLink]="'user-home' | route"></button>
    <button pButton pRipple icon="pi pi-arrow-left" label="Log In With A Different Account" class="p-button-text" (click)="logOut()"></button>
  </div>
</ln-branded-card>
